body {
  background-image: linear-gradient(
    to right bottom,
    #e73827,
    #f85032d0,
    #f85032d0,
    #e73827
  );
  font-family: "Nunito", sans-serif;
}
.navbar-nav {
  font-size: 1.25rem;
}
.w-100{
  width: 75px !important;
  height: 70vh;
}
.lead {
  font-size: 1.5rem;
}
.carousel{
  margin-top: 5%;
}
.carousel-item img {
  filter: grayscale(10%)
}


